# Ignore Node modules
node_modules/
student_backend/node_modules/

# Ignore environment files
.env
student_backend/.env

# Ignore credentials
student_backend/cred/Student.json
student_backend/student.json

# Build output
/build
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store
